{% extends 'base.html' %}
{% block content %}
<div class="col-12" style="padding-left: 0; padding-right: 0; padding-top: 12px; padding-bottom: 50px; min-height: 900px; background-color: #FFFFFF; margin-top: 13px; margin-bottom: 13px">
  <div class="row" style="padding: 10px 40px; ">
    <div class="card" style="width: 18rem; margin: 10px 10px">
      <img src="/shopImg/1.jpg" class="card-img-top" alt="...", style="height: 286px">
      <div class="card-body">
        <h5 class="card-title">
          <div>
            <i>所需积分：100.90</i>
          </div>
        </h5>
        <p class="card-text">测试代码.</p>
        <p class="card-text"><small class="text-muted">发布者：</small></p>
        <a href="#" class="btn btn-primary">购买</a>
        <a href="#" class="btn btn-primary">加入购物车</a>
      </div>
    </div>

    <div class="card" style="width: 18rem; margin: 10px 10px">
      <img src="/shopImg/2.jpg" class="card-img-top" alt="...", style="height: 286px">
      <div class="card-body">
        <h5 class="card-title">
          <div>
            <i>所需积分：9.90</i>
          </div>
        </h5>
        <p class="card-text">测试代码.</p>
        <p class="card-text"><small class="text-muted">发布者：</small></p>
        <a href="#" class="btn btn-primary">购买</a>
        <a href="#" class="btn btn-primary">加入购物车</a>
      </div>
    </div>

    <div class="card" style="width: 18rem; margin: 10px 10px">
      <img src="/shopImg/3.jpg" class="card-img-top" alt="...", style="height: 286px">
      <div class="card-body">
        <h5 class="card-title">
          <div>
            <i>所需积分：9.90</i>
          </div>
        </h5>
        <p class="card-text">测试代码.</p>
        <p class="card-text"><small class="text-muted">发布者：</small></p>
        <a href="#" class="btn btn-primary">购买</a>
        <a href="#" class="btn btn-primary">加入购物车</a>
      </div>
    </div>

    <div class="card" style="width: 18rem; margin: 10px 10px">
      <img src="/shopImg/4.jpg" class="card-img-top" alt="...", style="height: 286px">
      <div class="card-body">
        <h5 class="card-title">
          <div>
            <i>所需积分：9.90</i>
          </div>
        </h5>
        <p class="card-text">测试代码.</p>
        <p class="card-text"><small class="text-muted">发布者：</small></p>
        <a href="#" class="btn btn-primary">购买</a>
        <a href="#" class="btn btn-primary">加入购物车</a>
      </div>
    </div>

        <div class="card" style="width: 18rem; margin: 10px 10px">
      <img src="/shopImg/4.jpg" class="card-img-top" alt="...", style="height: 286px">
      <div class="card-body">
        <h5 class="card-title">
          <div>
            <i>所需积分：9.90</i>
          </div>
        </h5>
        <p class="card-text">测试代码.</p>
        <p class="card-text"><small class="text-muted">发布者：</small></p>
        <a href="#" class="btn btn-primary">购买</a>
        <a href="#" class="btn btn-primary">加入购物车</a>
      </div>
    </div>

    <div class="card" style="width: 18rem; margin: 10px 10px">
      <img src="/shopImg/4.jpg" class="card-img-top" alt="...", style="height: 286px">
      <div class="card-body">
        <h5 class="card-title">
          <div>
            <i>所需积分：9.90</i>
          </div>
        </h5>
        <p class="card-text">测试代码.</p>
        <p class="card-text"><small class="text-muted">发布者：</small></p>
        <a href="#" class="btn btn-primary">购买</a>
        <a href="#" class="btn btn-primary">加入购物车</a>
      </div>
    </div>
  </div>
</div>



{% endblock %}
