# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\开发\pythonProject\petsgram_final\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
